[submodule "veld_data_5_apis_ner_conll2003"]
	path = veld_data_5_apis_ner_conll2003
	url = https://gitlab.oeaw.ac.at/acdh-ch/nlp/veld_data_5_apis_ner_conll2003.git
[submodule "veld_executable_6_convert_apis_ner_to_spacy_docbin"]
	path = veld_executable_6_convert_apis_ner_to_spacy_docbin
	url = git@github.com:steffres/veld_executable_6_convert_apis_ner_to_spacy_docbin.git
[submodule "veld_executable_7_train_spacy_ner"]
	path = veld_executable_7_train_spacy_ner
	url = git@github.com:steffres/veld_executable_7_train_spacy_ner.git
[submodule "veld_data_6_apis_ner_models"]
	path = veld_data_6_apis_ner_models
	url = git@github.com:steffres/veld_data_6_apis_ner_models.git
