[submodule "veld_data_6_apis_ner_models"]
	path = veld_data_6_apis_ner_models
	url = https://gitlab.oeaw.ac.at/acdh-ch/nlp/veld_data_6_apis_ner_models.git
[submodule "veld_executable_6_convert_ner_json_to_spacy_docbin"]
	path = veld_executable_6_convert_ner_json_to_spacy_docbin
	url = https://github.com/acdh-oeaw/veld_executable_6_convert_ner_json_to_spacy_docbin.git
[submodule "veld_executable_7_train_spacy_ner"]
	path = veld_executable_7_train_spacy_ner
	url = https://github.com/acdh-oeaw/veld_executable_7_train_spacy_ner.git
[submodule "veld_data_5_apis_oebl__ner_gold"]
	path = veld_data_5_apis_oebl__ner_gold
	url = https://github.com/acdh-oeaw/veld_data_5_apis_oebl__ner_gold.git
[submodule "veld_executable_11_publish_to_hf"]
	path = veld_executable_11_publish_to_hf
	url = https://github.com/acdh-oeaw/veld_executable_11_publish_to_hf.git
