[submodule "data/veld_data__apis_oebl__ner_gold"]
	path = data/veld_data__apis_oebl__ner_gold
	url = https://github.com/veldhub/veld_data__apis_oebl__ner_gold.git
[submodule "code/veld_code__spacy"]
	path = code/veld_code__spacy
	url = https://github.com/veldhub/veld_code__spacy.git
[submodule "data/veld_data__spacy_apis_ner_models"]
	path = data/veld_data__spacy_apis_ner_models
	url = https://github.com/veldhub/veld_data__spacy_apis_ner_models.git
